header {
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 32px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}
