.transition-wrapper {
  position: relative;
  width: 100%;

  aspect-ratio: 1440 / 280;

  // background-image: url("/assets/img/curved.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}